@font-face {
  font-family: "sophie";
  src: url("Sophie-Regular.otf") format("opentype");
}

*
{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0; 
  padding: 0; 
}

.sophie-font
{
  font-family: 'sophie', "Times New Roman", serif;
  font-size: 1.8rem;
}

.vertically-center-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewport-height {
  height: 100%;
  overflow-y: hidden;
  overscroll-behavior-y: none;
}
