body
{
  margin: 0;
}

.menu-stamp-container
{
  padding: 15vh 0;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 12px;
  justify-items: center;
  align-items: center;
}

.menu-stamp
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu-stamp img
{
  width: 20vw;
  height: auto;
}
