body
{
  margin: 0;
}

.vertically-center-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-stamp-container
{
  width: 80vw;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: 12px;
  justify-items: center;
  align-items: center;
  height: fit-content;
}

.menu-stamp
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu-stamp img
{
  width: min(20vw, 150px);
  height: auto;
}
