body 
{
  background-color: #EFE1C4;
  background-image: url(https://ik.imagekit.io/gale/green-mountain?updatedAt=1727386607415);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p
{
margin: 0;
}

.backmark
{
  z-index: 10;
  position: absolute;
  top: -4vh;
  left: 0;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
  transition: all 0.2s ease;
}

.backmark img
{
  height: 20vh;
  width: auto;
}

.backmark:hover
{
  translate: 0px 1.5vh;
}

.about
{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.about img
{
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
  transition: all 5s cubic-bezier(0, 1, 0.79, 1);
}

.about img:hover
{
  rotate: 0deg;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.6));
  scale: 1.1;
}

.postcard-container
{
  position: relative;
  top: 10vh;
  left: 15vh;
  width: fit-content;
  height: fit-content;
  rotate: -4deg;
}

.postcard
{
  height: 60vh;
  width: auto;
  border-radius: 8px;
  pointer-events: none;
}

.postcard-text {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 38%;
  font-size: 3.2vh;
}

.douglas-fir
{
  position: absolute;
  top: 50vh;
  left: 35vh;
  rotate: -6deg;
  height: 40vh;
  width: auto;
}

.douglas-fir:hover
{
  rotate: -2deg;
}

.library-card
{
  position: relative;
  top: 25vh;
  left: 10vh;
  rotate: 4deg;
  height: 60vh;
  width: auto;
  border-radius: 3px;
}

.snoopy-comic
{
  position: relative;
  top: 15vh;
  left: 15vh;
  rotate: -3deg;
  height: 18vh;
  width: auto;
  border-radius: 3px;
}

.swatch
{
  position: absolute;
  height: 20vh;
  width: auto;
  border-radius: 2px;
}

.swatch.klein-blue
{
  rotate: -4deg;
  top: 42vh;
  left: 140vh;
}

.swatch.lavender
{
  rotate: 3deg;
  top: 55vh;
  left: 150vh;
}

.swatch.chartreuse
{
  rotate: -1deg;
  top: 47vh;
  left: 160vh;
}

.polaroid
{
  position: relative;
  height: 46vh;
  width: auto;
}

.polaroid.a
{
  top: 40vh;
  left: -13vh;
  rotate: 13deg;
}
